<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vovka11.echoarchive" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EchoArchive</name>
    <description>EchoArchive Music Player</description>
    <author email="vovka11@example.com">vovka11</author>
    
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <icon src="assets/icons/logo-app.png" />
    
    <preference name="KeepRunning" value="true" />
</widget>